*{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: "Montserrat", sans-serif;
}

.media {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 5px;
    margin: 30px 0;
    background-color: #282c34;
    border-radius: 10px;
    position: relative;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
  }
.media:hover{
  transform: scale(1.1);
}

  .title, .subTitle {
    font-size: 16px;
  }

  
  .media:hover {
    background-color: white;
    color: black;
  }

  .vote{
    position: absolute;
    right: 5px;
    top: -5px;
    background-color: rgb(84, 0, 163);
    color: white;
    border-radius: 20px;
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
  }
  
  .poster {
    border-radius: 10px;
  }
  
  .title {
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 8px 0;
    font-weight: 500;
  }
  
  .subTitle {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    padding: 0 2px;
    padding-bottom: 3px;
    font-weight: 300;
  }

  .vote{
    font-size: 14px;
  }


  @media (max-width: 550px) {
    .media {
      width: 46%;
    }
    .title {
      font-size: 13px;
    }
    .subTitle{
      font-size: 11px;
    }
    .vote{
      font-size: 10px;
    }
  }