.header  {
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #272d45;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 4vw;
    font-weight: 500;
    padding: 10px 0 10px 0;
    box-shadow: 0px 1px 5px black;
    color: white;
    z-index: 100;
  }

  .left{
    margin-left: 20px;
  }

  .auth-user{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 150px; */
  }

  .name{
    font-size: 1vw;
    margin-left: 10px;
  }

  #username{
    font-size: 1.1vw;
  }

 .left-emofi{
  width: 60px;

 }
  .main-title{
    font-size:4vw;
    margin-left: -70px;
    text-transform: uppercase;
  }
  
  @media (max-width: 1000px) {
    .header {
      padding-top: 15px;
      font-size: 6.4vw;
      padding-bottom: 0px;
      margin-bottom: 10px;
    }
    .left-emofi{
      width: 20px;
    }
    #login-btn, #logout-btn{
      padding: 1px 5px;
      font-size: 10px;
      /* margin-bottom: 10px; */
    }
    .name{
      font-size: 10px;
    }
    #username{
      font-size: 10px;
    }
    .main-title{
      margin-left: 0px;
      font-size: 20px;
    }
  }