*{
    font-family: "Roboto", "Helvetica Neue";
}

.main{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}


.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.flex-col{
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.flex-col:hover{
    color:azure;
}

.active-tab{
    width: 100%;
    height: 4px;
    justify-content: center;
    align-items: center;
    margin: 4px;
    background-color:aliceblue;
}