*{
    font-family: "Roboto", "Helvetica Neue";
}

.main{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}


.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.flex-col{
    width: 100%;
    text-align: center;
}

.active-tab,
.non-active-tab {
  width: 100%;
  height: 4px;
  background: aliceblue;
  margin-top: 8px;
}

.active-tab{
    font-weight: bolder;
}

.non-active-tab {
  background-color: transparent;
}

.nav-tag a{
    color:white;
    text-decoration: none;
    padding: 10px 40px 10px 40px;
}

@media (max-width: 767px) {
    .flex{
        width: 80%; 
    }
    .nav-tag a{
        width: 50px;
        padding: 10px;
    }
    .main{
        margin-top: 20px;
    }
    .main a{
        font-size: 13px;
    }
}