@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    scroll-behavior: smooth;
}

.app{
    min-height: 100vh;
    /* background-color: #383774; */
    background-color: #032541;
    color: white;
    padding-top: 110px;
    padding-bottom: 10px;
    font-family: "Montserrat";
}

.container{
    margin: auto;
    width: 70%;
}

.page-title{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: 2vw;
    padding: 10px;
    border-radius: 50px;
    color: white;
}

.current-page{
    display: flex;
    /* position: absolute;
    top: 220px; */
    width: 20px;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    border-radius: 6px;
    border-style:outset;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    padding: 6px;
    color: #eee;
    border-color: white; 
}

/* CSS */
.genric-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-weight: 600;
  border-radius: 6px;
  border: none;
  height: 35px;
  justify-content: center;
  margin:10px;
  margin-right: 30px;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.genric-btn:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.footer{
    display: flex;
    bottom: 10px;
    justify-content: center;
    margin: 20px 0;
    padding-top: 30px;
}


@media (max-width: 1000px) {
    .page-title {
      font-size: 6.4vw;
    }
    .current-page{
        display: none;
    }
  }

@media (max-width: 767px) {
    .app{
        padding-top: 60px;
    }
    .container{
        width: 80%;
    }
    .page-title{
        font-size: 20px;
    }
    .copyright{
        font-size: 12px;
    }
}